@import "src/styles/variables";

.portfolio {
  background: #FFF9EA;
  padding: 140px 0 575px;
  background: url("../../assets/images/portfolio/portfolio-bg.png") bottom center no-repeat;
  background-size: contain;

  @media (max-width: 1200px) {
    padding: 140px 0 450px; 
  }

  @media (max-width: 992px) {
    padding: 100px 0 350px;
  }

  @media (max-width: 768px) {
    padding: 40px 0 250px;
  }

  @media (max-width: 576px) {
    padding: 20px 0 150px;
  }

  &__subtitle {
    display: block;
    margin: 40px auto 0;
    font-weight: 400;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: $defaultColor;
    max-width: 380px;
  }

  &__btn {
    margin: 40px auto 0;
  }
}


